# Exercise 1

In [2]:
import os
from sqlalchemy import create_engine
import pandas as pd
pd.set_option('display.max_columns', 20)

In [30]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

### Q1: 埼玉県で一番小さい面積の市町村を調べる

In [4]:
# " "のなかにSQL文を記述
sql = """
SELECT name_2, ST_Area(geom::geography)/1000000 AS area_km2
FROM adm2
WHERE name_1 = 'Saitama'
ORDER BY area_km2 ASC
LIMIT 1;
"""

In [5]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

   name_2  area_km2
0  Warabi  6.587194

### Q2. 都道府県ごとに一番大きい面積を有する市町村を調べる

In [24]:
# " "のなかにSQL文を記述
sql = """
WITH ranked_municipalities AS (
    SELECT 
        name_1 AS prefecture, 
        name_2 AS municipality, 
        ST_Area(geom::geography)/1000000 AS area_km2,
        RANK() OVER (PARTITION BY name_1 ORDER BY ST_Area(geom::geography) DESC) AS rank
    FROM adm2
)
SELECT prefecture, municipality, area_km2
FROM ranked_municipalities
WHERE rank = 1
ORDER BY prefecture;
"""

In [25]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

   prefecture   municipality     area_km2
0       Aichi         Toyota   914.965700
1       Akita      Yurihonjō  1236.171305
2      Aomori          Mutsu   862.180065
3       Chiba       Ichihara   372.896963
4       Ehime      Kumakōgen   582.493890
5       Fukui            Ōno   878.521299
6     Fukuoka     Kitakyūshū   484.535131
7   Fukushima          Iwaki  1212.132562
8        Gifu       Takayama  2173.869108
9       Gunma       Minakami   774.454536
10  Hiroshima        Shōbara  1233.377442
11   Hokkaido         Ashoro  1406.101261
12      Hyōgo        Toyooka   694.876368
13    Ibaraki     Hitachiōta   373.051040
14   Ishikawa        Hakusan   761.147583
15      Iwate     Ichinoseki  1139.296242
16     Kagawa      Takamatsu   386.483827
17  Kagoshima  Satsumasendai   712.877024
18   Kanagawa       Yokohama   423.085754
19      Kochi       Shimanto   635.662023
20   Kumamoto        Amakusa   804.547532
21      Kyoto          Kyoto   842.330823
22        Mie            Tsu   687.502311
23     Miyagi       Kurihara   797.118964
24   Miyazaki        Nobeoka   856.952041
25     Nagano      Matsumoto   943.137861
26   Naoasaki       Tsushima   733.059993
27       Nara      Totsukawa   666.678657
28    Niigata       Murakami  1183.739695
29       Oita          Saiki   908.719706
30    Okayama         Maniwa   837.347796
31    Okinawa       Taketomi   339.033935
32      Osaka          Osaka   222.338895
33       Saga        Karatsu   493.344521
34    Saitama       Chichibu   580.613825
35      Shiga      Lake Biwa   685.857751
36    Shimane         Masuda   748.077773
37   Shizuoka      Hamamatsu  1502.644477
38    Tochigi          Nikkō  1444.964660
39  Tokushima        Miyoshi   722.317614
40      Tokyo        Okutama   225.667984
41    Tottori        Tottori   768.715239
42     Toyama         Toyama  1255.339885
43   Wakayama      Kyōtanabe  1049.130028
44   Yamagata       Tsuruoka  1343.268161
45  Yamaguchi        Iwakuni   867.025699
46  Yamanashi         Hokuto   603.419951

### Q3. 都道府県ごとに市町村の総数が多い順に並べる

In [19]:
# " "のなかにSQL文を記述
sql = """
SELECT name_1 AS prefecture, COUNT(name_2) AS total_municipalities
FROM adm2
GROUP BY name_1
ORDER BY total_municipalities DESC;
"""

In [20]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

   prefecture  total_municipalities
0    Hokkaido                   180
1      Nagano                    82
2     Saitama                    70
3     Fukuoka                    66
4       Aichi                    64
5   Fukushima                    60
6       Chiba                    56
7       Tokyo                    53
8    Kumamoto                    48
9   Kagoshima                    46
10    Ibaraki                    45
11      Osaka                    43
12       Gifu                    43
13   Shizuoka                    43
14    Okinawa                    42
15      Hyōgo                    41
16     Aomori                    40
17       Nara                    39
18      Gunma                    38
19     Miyagi                    36
20      Kochi                    35
21   Yamagata                    35
22      Iwate                    35
23   Kanagawa                    33
24    Niigata                    31
25    Tochigi                    31
26    Okayama                    30
27   Miyazaki                    30
28   Wakayama                    29
29  Yamanashi                    28
30        Mie                    28
31      Shiga                    27
32      Kyoto                    26
33      Akita                    25
34  Tokushima                    24
35   Naoasaki                    23
36  Hiroshima                    23
37    Shimane                    22
38       Saga                    20
39      Ehime                    20
40  Yamaguchi                    20
41   Ishikawa                    19
42       Oita                    18
43    Tottori                    18
44      Fukui                    17
45     Toyama                    15
46     Kagawa                    14

### Q4. 都道府県ごとに村の総数が多い順に並べる

In [31]:
# " "のなかにSQL文を記述
sql = """
SELECT name_1 AS prefecture, COUNT(name_2) AS total_villages
FROM adm2
WHERE name_2 LIKE '%村'
GROUP BY name_1
ORDER BY total_villages DESC;
"""

In [32]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

TypeError: dict is not a sequence